
<div >
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #191970">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <p href="#!" class="text-white">Suivez Nous</p>
              </h6>
            </div>
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <p href="#!" class="text-white">Mentions Légales</p>
              </h6>
            </div>
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <p href="#!" class="text-white">Contact</p>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 >
                <p href="#!" class="text-white">
                Facebook
                  LinkedIn
                  Twitter</p>
              </h6>
            </div>
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 >
                <p href="#!" class="text-white">Cookie Policy
                  © 2022 Addinn. All Rights Reserved</p>
              </h6>
            </div>
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 >
                <p href="#!" class="text-white">contact@addinn.com</p>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          
          <!-- Grid row-->
        </section>
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <img src="../../assets/logo-white.png" width="105" height="80" alt="">
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(243, 238, 238, 0.919)"
           >
        © 2020 Copyright:
        <a class="text-white" href="https://addinn-group.com/"
           >addinn-group.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
 