<!DOCTYPE html>
<html>
<head>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<app-carousel></app-carousel>
<img src="../../assets/nos equipes.png" >
<p>les postes disponibles</p>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/netDev.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Développeur .Net/C# Junior</h5>
          <pre class="card-text">Développement Back End
            <strong style="color: rgb(5, 249, 34);">Disponible</strong></pre>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0 Ans D'experiences</li>
          <li class="list-group-item">CDI</li>
          <li class="list-group-item">Tunisie</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Voir plus</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/Java.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Développeur Java</h5>
          <pre class="card-text">Développement Back End
            <strong style="color: rgb(5, 249, 34);">Disponible</strong></pre>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0 Ans D'experiences</li>
          <li class="list-group-item">CDI</li>
          <li class="list-group-item">Tunisie</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Voir plus</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/data.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data Analyst</h5>
          <pre class="card-text">Data
            <strong style="color: rgb(5, 249, 34);">Disponible</strong></pre>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0 Ans D'experiences</li>
          <li class="list-group-item">CDI</li>
          <li class="list-group-item">Tunisie</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Voir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row1">
  <button class="Plus de details">Plus de details </button>
  <button class="Recherche">Recherche</button>
</div>
<app-footer></app-footer>
<!-- Include Bootstrap JS (optional, for certain interactions) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
