
<div class ="container text-center">
    

<h2><strong>Développeur .Net/C# Junior</strong></h2>
<h3>Description du poste</h3>
<table style="width:100%">
<tr>
    <th>Département </th>
    <th>Type de contrat </th>
    <th>Date de début </th>
</tr>
<tr>
    <td>Développement Back End</td>
    <td>CDI</td>
    <td>2023-05-12</td>
</tr>
<tr>
    <th>Pays</th>
    <th>Région</th>
    <th>Salaire</th>
</tr>
<tr>
    <td>Tunisie</td>
    <td>Tunisie</td>
    <td>1700</td>
</tr>

    
        <tr>
            <th>Qualités interpersonnelles démandées </th>
            <th>Diplome démandé :</th>
            <th>Expérience démandée :</th>
        </tr>
        <tr>
            <td>string</td>
            <td>string</td>
            <td>string</td>
        </tr>
        <tr>
            <th>Compétences Techniques démandées </th>
        </tr>
        <tr><td>MaiTrisé de .net , Maitrise de SQL Server</td></tr>
    </table>
</div>
<div class="container">
    <button>Postuler</button>
  </div>

