<div class="row1">
  <input type="text" placeholder="mots clés">
  <label>Départments: </label>
  <select id="departments" name="cars">
    <option value="tous">toutes les categories</option>
    <option value="Développement Front-end">Développement Front-end</option>
    <option value="Développement Back-end">Développement Back-end</option>
    <option value="Développement mobile">Développement mobile</option>
    <option value="DevOps">DevOps</option>
  </select>
  <label>Location</label>
  <select id="Location" name="cars">
    <option value="tous">tous</option>
    <option value="op1">Tunisie</option>
    <option value="op2">Tozeur</option>
    <option value="op3">France</option>

  </select>
<button class="Rechercher">Rechercher</button>
</div>
<div ><p>les postes disponibles</p></div>
<div class="row">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/netDev.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Développeur .Net/C# Junior</h5>
          <pre class="card-text">Développement Back End
            <strong style="color: rgb(5, 249, 34);">Disponible</strong></pre>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0 Ans D'experiences</li>
          <li class="list-group-item">CDI</li>
          <li class="list-group-item">Tunisie</li>
        </ul>
        <div class="card-body">
          <a routerLink="/devNet" class="card-link">Voir plus</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/Java.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Développeur Java</h5>
          <pre class="card-text">Développement Back End
            <strong style="color: rgb(5, 249, 34);">Disponible</strong></pre>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0 Ans D'experiences</li>
          <li class="list-group-item">CDI</li>
          <li class="list-group-item">Tunisie</li>
        </ul>
        <div class="card-body">
          <a routerLink="/devJava" class="card-link">Voir plus</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/data.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data Analyst</h5>
          <pre class="card-text">Data
            <strong style="color: rgb(5, 249, 34);">Disponible</strong></pre>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0 Ans D'experiences</li>
          <li class="list-group-item">CDI</li>
          <li class="list-group-item">Tunisie</li>
        </ul>
        <div class="card-body">
          <a routerLink="/datadev" class="card-link">Voir plus</a>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
