<div class="container text-center">
<div class="section">
    <p class="title">STRADA</p>
    <div class="content text-center">
      <p>De nos jours, pendant que la pandémie de Covid-19 pousse les industries à se réinventer,
        les entreprises font face à deux options:
        la transformation de leurs activités, produits et services existants vers un modèle SaaS ou la construction de toute une nouvelle plateforme.
        Le monde du Transport Routier des Marchandises (TRM) ne fait pas exception.
    </div>
  </div>

  <div class="section">
    <p class="title">E-LAB</p>
    <div class="content text-center">
      <p>ADDINN, le cabinet de conseil spécialisé dans la transformation digitale souhaite s'aventurer dans un nouveau projet en partenariat avec la société d'incubation numérique du gabon SING.
        celle-ci a jugé nécessaire de créer un incubateur dédié à l'accompagnement des entreprises dans le domaine du numérique dans l'objectif de contribuer au développement de l'écosystème numérique gabonais. ​​</p>
    </div>
  </div>
</div>
  <app-footer></app-footer>

